.socialbtn {
    margin: 0 4px;
    margin-bottom: 6px;
}

.icon {
    margin-top: 5px;
    margin-bottom: 25px;
    color: #ffd35c;
    transition: 1s;
}

.icon:hover {
    color: #ffe880;
    transform: rotate(45deg) scale(1.2);
}